*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient(rgba(5,7,12, 0.1 ), rgba(5,7,12, 0.5)),
    url(../imagenes/Em-Kessler-1024x573.jpg);
    background-repeat:no-repeat ;
    overflow: hidden;
    background-size: 100%;
    background-color: rgba(255, 255,255, 0.0.1);
    backdrop-filter: blur(5.5px);
    height: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    
  
}
section{
    margin-top: 60px;
} 

 
.icon{
    
    float: left;
    color: brown;
    transition: all 0.7s ease;
}
.icon:hover{
    color: blueviolet;
    font-size: 35px;
}
.fron{
    font-family: monospace;
    width: 300px;
    padding:15px;
    margin-top: 120px;
}
.fron p{
    height: 40px;
    text-align: center;
    font-size: 15px;
    color: black;
    margin-top: 10px;
}
.fron h4{
    text-align: center;
    margin-bottom:12px ;
    font-size: 20px;
}
.fron a{
    text-decoration: none;
    color: darkred;
    transition: color 0.5s ease;
}
.fron a:hover{
    color: blue;
}
.fron .botons{
    width: 100%;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid blue;
    margin-bottom: 10px;
    transition: all 0.5s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
   
}
.fron .botons:hover{
    color: blue;
    cursor: pointer;
    font-size: 20px;
}

.contenedor{
    width: 100%;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.5s ease;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid blue;
}
.contenedor:hover{
    background-color:azure;
    cursor: pointer;
}
.caja{
    background-color: white;
    height: 400px;
    margin-top: 15% ;
    transition: all 0.9s ease;
}
.caja:hover{
   box-shadow: 0 0.9rem 9rem rgba(246, 41, 178, 0.9);
   cursor: pointer;
   
}
